.Git_logo{
    text-align: center;
}
.git_flow{
    text-align: center;
}
td{
    height: 100px;
    border-left: 4px solid blueviolet;
    font-size: 30px;
}
.GIT_purple{
    color: purple;
}
td:hover{
    border-left: 4px solid lightgreen;
}
table{
    margin: auto;
}